<div [ngClass]="role === 'admin' ? 'admin-container-div' : 'container-div'">
    <div [ngClass]="role === 'admin' ? 'content-div' : ''">
        <p class="change-password-title">
            <mat-icon>key</mat-icon>
            Change Password
        </p>

        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="example@gmail.com"
                />
                @if (
                    changePasswordForm.get('email')!.invalid &&
                    changePasswordForm.get('email')!.touched
                ) {
                    <mat-error>
                        @if (changePasswordForm.get('email')!.errors?.['required']) {
                            <ng-container>Email is required.</ng-container>
                        } @else if (changePasswordForm.get('email')!.errors?.['email']) {
                            <ng-container> Please enter a valid email address. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Current Password</mat-label>
                <input
                    matInput
                    id="currentPassword"
                    [type]="hideCurrentPassword ? 'password' : 'text'"
                    formControlName="currentPassword"
                    placeholder="••••••••"
                />
                <button
                    mat-icon-button
                    matIconSuffix
                    type="button"
                    class="hideIcon"
                    (click)="toggleCurrentPasswordVisibility()"
                >
                    <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (
                    changePasswordForm.get('currentPassword')!.invalid &&
                    changePasswordForm.get('currentPassword')!.touched
                ) {
                    <mat-error>
                        @if (changePasswordForm.get('currentPassword')!.errors?.['required']) {
                            <ng-container>Current Password is required</ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>New Password</mat-label>
                <input
                    matInput
                    id="password"
                    [type]="hideNewPassword ? 'password' : 'text'"
                    formControlName="newPassword"
                    placeholder="••••••••"
                />
                <button
                    mat-icon-button
                    matIconSuffix
                    type="button"
                    class="hideIcon"
                    (click)="toggleNewPasswordVisibility()"
                >
                    <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (
                    changePasswordForm.get('newPassword')!.invalid &&
                    changePasswordForm.get('newPassword')!.touched
                ) {
                    <mat-error>
                        @if (changePasswordForm.get('newPassword')!.errors?.['required']) {
                            <ng-container> Password is required. </ng-container>
                        } @else if (changePasswordForm.get('newPassword')!.errors?.['minlength']) {
                            <ng-container
                                >Password must be at least 8 characters long.</ng-container
                            >
                        } @else if (changePasswordForm.get('newPassword')!.errors?.['maxlength']) {
                            <ng-container>Password cannot exceed 32 characters.</ng-container>
                        } @else if (changePasswordForm.get('newPassword')!.errors?.['pattern']) {
                            <ng-container
                                >Password must include A-Z, a-z, 0-9, and special
                                character.</ng-container
                            >
                        }
                    </mat-error>
                }
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                @if (loading) {
                    <app-spinner />
                } @else {
                    <span>Submit</span>
                }
            </button>
        </form>
    </div>
</div>
