<div class="container">
    <div class="form-wrapper">
        <div class="logo-wrapper">
            <img src="/assets/brand-logo.png" alt="logo" class="logo" />
            <div class="logo-text">Order Station</div>
        </div>
        <div class="welcome-text">Forgot Your Password?</div>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        class="input"
                        id="email"
                        formControlName="email"
                        placeholder="example@gmail.com"
                    />
                    <mat-error
                        *ngIf="
                            forgotPasswordForm.get('email')!.invalid &&
                            forgotPasswordForm.get('email')!.touched
                        "
                    >
                        <ng-container *ngIf="forgotPasswordForm.get('email')!.errors?.['required']">
                            Email is required.
                        </ng-container>
                        <ng-container *ngIf="forgotPasswordForm.get('email')!.errors?.['email']">
                            Invalid email format.
                        </ng-container>
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                    <ng-container *ngIf="loading">
                        <app-spinner></app-spinner>
                    </ng-container>
                    <ng-container *ngIf="!loading">
                        <span>Send Link</span>
                    </ng-container>
                </button>
            </div>
        </form>
    </div>
</div>
