<div class="container">
    <div class="form-wrapper">
        <p class="form-title"><mat-icon>coffee</mat-icon> Order Beverage</p>

        <form [formGroup]="beverageOrderForm" (ngSubmit)="onSubmit()">
            <!-- Tea and Tea Amount -->
            <div class="input-group">
                <mat-form-field class="half-width">
                    <mat-label>Tea</mat-label>
                    <input matInput formControlName="teaQuantity" type="number" />
                    @if (
                        beverageOrderForm.get('teaQuantity')!.invalid &&
                        beverageOrderForm.get('teaQuantity')!.touched
                    ) {
                        <mat-error>
                            @if (beverageOrderForm.get('teaQuantity')!.errors?.['required']) {
                                <ng-container> Tea is required. </ng-container>
                            }
                        </mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Amount</mat-label>
                    <mat-select formControlName="teaAmount">
                        <mat-option value="half">Half</mat-option>
                        <mat-option value="full">Full</mat-option>
                        <mat-option value="">N/A</mat-option>
                    </mat-select>
                    @if (
                        beverageOrderForm.get('teaAmount')!.invalid &&
                        beverageOrderForm.get('teaAmount')!.touched
                    ) {
                        <mat-error>
                            @if (beverageOrderForm.get('teaAmount')!.errors?.['required']) {
                                <ng-container> Amount is required. </ng-container>
                            }
                        </mat-error>
                    }
                </mat-form-field>
            </div>

            <!-- Coffee and Coffee Amount -->
            <div class="input-group">
                <mat-form-field class="half-width">
                    <mat-label>Coffee</mat-label>
                    <input matInput formControlName="coffeeQuantity" type="number" />
                    @if (
                        beverageOrderForm.get('coffeeQuantity')!.invalid &&
                        beverageOrderForm.get('coffeeQuantity')!.touched
                    ) {
                        <mat-error>
                            @if (beverageOrderForm.get('coffeeQuantity')!.errors?.['required']) {
                                <ng-container> Coffee is required. </ng-container>
                            }
                        </mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Amount</mat-label>
                    <mat-select formControlName="coffeeAmount">
                        <mat-option value="half">Half </mat-option>
                        <mat-option value="full">Full </mat-option>
                        <mat-option value="">N/A</mat-option>
                    </mat-select>
                    @if (
                        beverageOrderForm.get('coffeeAmount')!.invalid &&
                        beverageOrderForm.get('coffeeAmount')!.touched
                    ) {
                        <mat-error>
                            @if (beverageOrderForm.get('coffeeAmount')!.errors?.['required']) {
                                <ng-container> Amount is required. </ng-container>
                            }
                        </mat-error>
                    }
                </mat-form-field>
            </div>

            <!-- Room Number -->
            <mat-form-field class="full-width">
                <mat-label>Room Number</mat-label>
                <mat-select formControlName="roomNumber">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                </mat-select>
                @if (
                    beverageOrderForm.get('roomNumber')!.invalid &&
                    beverageOrderForm.get('roomNumber')!.touched
                ) {
                    <mat-error>
                        @if (beverageOrderForm.get('roomNumber')!.errors?.['required']) {
                            <ng-container> Room number is required. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <!-- Additional Notes -->
            <mat-form-field class="full-width">
                <mat-label>Additional Notes</mat-label>
                <textarea matInput formControlName="notes" rows="4"></textarea>
            </mat-form-field>

            <!-- Submit Button -->
            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                @if (loading) {
                    <app-spinner />
                } @else {
                    <span>Submit</span>
                }
            </button>
        </form>
    </div>
</div>
