<div class="container">
    <div class="form-wrapper">
        <p class="form-title"><mat-icon>coffee</mat-icon> Order Beverage</p>

        <form [formGroup]="beverageOrderForm" (ngSubmit)="onSubmit()">
            <!-- Tea and Tea Amount -->
            <div class="input-group">
                <mat-form-field class="half-width">
                    <mat-label>Tea</mat-label>
                    <div class="quantity-controls">
                        <input matInput formControlName="teaQuantity" type="number" />
                        <button mat-icon-button type="button" (click)="incrementQuantity('tea')">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button type="button" (click)="decrementQuantity('tea')">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                    <mat-error
                        *ngIf="
                            beverageOrderForm.get('teaQuantity')!.invalid &&
                            beverageOrderForm.get('teaQuantity')!.touched
                        "
                    >
                        <ng-container
                            *ngIf="beverageOrderForm.get('teaQuantity')!.errors?.['required']"
                        >
                            Tea quantity is required.
                        </ng-container>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Tea Amount</mat-label>
                    <mat-select formControlName="teaAmount">
                        <mat-option value="half">Half</mat-option>
                        <mat-option value="full">Full</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="
                            beverageOrderForm.get('teaAmount')!.invalid &&
                            beverageOrderForm.get('teaAmount')!.touched
                        "
                    >
                        <ng-container
                            *ngIf="beverageOrderForm.get('teaAmount')!.errors?.['required']"
                        >
                            Tea amount is required.
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Coffee and Coffee Amount -->
            <div class="input-group">
                <mat-form-field class="half-width">
                    <mat-label>Coffee</mat-label>
                    <div class="quantity-controls">
                        <input matInput formControlName="coffeeQuantity" type="number" />
                        <button mat-icon-button type="button" (click)="incrementQuantity('coffee')">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button type="button" (click)="decrementQuantity('coffee')">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                    <mat-error
                        *ngIf="
                            beverageOrderForm.get('coffeeQuantity')!.invalid &&
                            beverageOrderForm.get('coffeeQuantity')!.touched
                        "
                    >
                        <ng-container
                            *ngIf="beverageOrderForm.get('coffeeQuantity')!.errors?.['required']"
                        >
                            Coffee quantity is required.
                        </ng-container>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Coffee Amount</mat-label>
                    <mat-select formControlName="coffeeAmount">
                        <mat-option value="half">Half </mat-option>
                        <mat-option value="full">Full </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="
                            beverageOrderForm.get('coffeeAmount')!.invalid &&
                            beverageOrderForm.get('coffeeAmount')!.touched
                        "
                    >
                        <ng-container
                            *ngIf="beverageOrderForm.get('coffeeAmount')!.errors?.['required']"
                        >
                            Coffee amount is required.
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Room Number -->
            <mat-form-field class="full-width">
                <mat-label>Room Number</mat-label>
                <mat-select formControlName="roomNumber">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="
                        beverageOrderForm.get('roomNumber')!.invalid &&
                        beverageOrderForm.get('roomNumber')!.touched
                    "
                >
                    <ng-container *ngIf="beverageOrderForm.get('roomNumber')!.errors?.['required']">
                        Room number is required.
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <!-- Additional Notes -->
            <mat-form-field class="full-width">
                <mat-label>Additional Notes</mat-label>
                <textarea matInput formControlName="notes" rows="4"></textarea>
            </mat-form-field>

            <!-- Submit Button -->
            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                <ng-container *ngIf="loading">
                    <app-spinner></app-spinner>
                </ng-container>
                <ng-container *ngIf="!loading">Submit</ng-container>
            </button>
        </form>
    </div>
</div>
