<div class="container">
    <div class="form-wrapper">
        <p class="form-title"><mat-icon>today</mat-icon> Daily Check In</p>
        <form [formGroup]="checkInForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Work Location</mat-label>
                <mat-select formControlName="workLocation" id="workLocation">
                    <mat-option value="mohakhali">Mohakhali</mat-option>
                    <mat-option value="mirpur">Mirpur</mat-option>
                    <mat-option value="leave">On Leave</mat-option>
                    @if (role !== 'staff') {
                        <mat-option value="wfh">Work From Home</mat-option>
                    }
                </mat-select>
                @if (
                    checkInForm.get('workLocation')?.invalid &&
                    checkInForm.get('workLocation')?.touched
                ) {
                    <mat-error>
                        @if (checkInForm.get('worLocation')?.errors?.['required']) {
                            <ng-container>Work Location is required</ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Meal</mat-label>
                <mat-select formControlName="meal" id="meal">
                    <mat-option value="regular">Regular</mat-option>
                    <mat-option value="diet">Diet</mat-option>
                </mat-select>

                @if (checkInForm.get('meal')?.invalid && checkInForm.get('meal')?.touched) {
                    <mat-error>
                        @if (checkInForm.get('meal')?.errors?.['required']) {
                            <ng-container>Meal Location is required</ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Snacks</mat-label>
                <mat-select formControlName="snacks" id="snacks">
                    <mat-option value="regular">Regular</mat-option>
                    <mat-option value="diet">Diet</mat-option>
                </mat-select>
                @if (checkInForm.get('snacks')?.invalid && checkInForm.get('snacks')?.touched) {
                    <mat-error>
                        @if (checkInForm.get('snacks')?.errors?.['required']) {
                            <ng-container>Snacks Location is required</ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                @if (loading) {
                    <app-spinner />
                } @else {
                    <span>Save</span>
                }
            </button>
        </form>
    </div>
</div>
