<div class="container">
    <div class="form-wrapper">
        <p class="form-title"><mat-icon>today</mat-icon> Daily Check In</p>
        <form [formGroup]="checkInForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Work Location</mat-label>
                <mat-select formControlName="workLocation" id="workLocation">
                    <mat-option value="mohakhali">Mohakhali</mat-option>
                    <mat-option value="mirpur">Mirpur</mat-option>
                    <mat-option value="leave">On Leave</mat-option>
                    <mat-option *ngIf="role !== 'staff'" value="wfh">Work From Home</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="
                        checkInForm.get('workLocation')?.invalid &&
                        checkInForm.get('workLocation')?.touched
                    "
                >
                    Work Location is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Meal</mat-label>
                <mat-select formControlName="meal" id="meal">
                    <mat-option value="regular">Regular</mat-option>
                    <mat-option value="diet">Diet</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="checkInForm.get('meal')?.invalid && checkInForm.get('meal')?.touched"
                >
                    Meal is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Snacks</mat-label>
                <mat-select formControlName="snacks" id="snacks">
                    <mat-option value="regular">Regular</mat-option>
                    <mat-option value="diet">Diet</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="checkInForm.get('snacks')?.invalid && checkInForm.get('snacks')?.touched"
                >
                    Snacks is required
                </mat-error>
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                <ng-container *ngIf="loading">
                    <app-spinner></app-spinner>
                </ng-container>
                <ng-container *ngIf="!loading">
                    <span>Save</span>
                </ng-container>
            </button>
        </form>
    </div>
</div>
