<div class="container">
    <div class="form-wrapper">
        <div class="logo-wrapper">
            <img src="/assets/brand-logo.png" alt="logo" class="logo" />
            <div class="logo-text">Order Station</div>
        </div>
        <div class="welcome-text">Reset Password</div>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="example@gmail.com"
                />
                @if (
                    resetPasswordForm.get('email')!.invalid &&
                    resetPasswordForm.get('email')!.touched
                ) {
                    <mat-error>
                        @if (resetPasswordForm.get('email')!.errors?.['required']) {
                            <ng-container>Email is required.</ng-container>
                        } @else if (resetPasswordForm.get('email')!.errors?.['email']) {
                            <ng-container> Please enter a valid email address. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    id="password"
                    [type]="hidePassword ? 'password' : 'text'"
                    formControlName="password"
                    placeholder="••••••••"
                />
                <button
                    mat-icon-button
                    matIconSuffix
                    type="button"
                    class="hideIcon"
                    (click)="togglePasswordVisibility()"
                >
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (
                    resetPasswordForm.get('password')!.invalid &&
                    resetPasswordForm.get('password')!.touched
                ) {
                    <mat-error>
                        @if (resetPasswordForm.get('password')!.errors?.['required']) {
                            <ng-container> Password is required. </ng-container>
                        } @else if (resetPasswordForm.get('password')!.errors?.['minlength']) {
                            <ng-container
                                >Password must be at least 8 characters long.</ng-container
                            >
                        } @else if (resetPasswordForm.get('password')!.errors?.['maxlength']) {
                            <ng-container>Password cannot exceed 32 characters.</ng-container>
                        } @else if (resetPasswordForm.get('password')!.errors?.['pattern']) {
                            <ng-container
                                >Password must include A-Z, a-z, 0-9, and special
                                character.</ng-container
                            >
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input
                    matInput
                    id="confirmPassword"
                    [type]="hideConfirmPassword ? 'password' : 'text'"
                    formControlName="confirmPassword"
                    placeholder="••••••••"
                />
                <button
                    mat-icon-button
                    matIconSuffix
                    type="button"
                    class="hideIcon"
                    (click)="toggleConfirmPasswordVisibility()"
                >
                    <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (
                    resetPasswordForm.get('confirmPassword')!.invalid &&
                    resetPasswordForm.get('confirmPassword')!.touched
                ) {
                    <mat-error>
                        @if (resetPasswordForm.get('confirmPassword')!.errors?.['required']) {
                            <ng-container>Confirm password is required</ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                @if (loading) {
                    <app-spinner />
                } @else {
                    <span>Reset</span>
                }
            </button>
        </form>
    </div>
</div>
