.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7f8;
}

.form-wrapper {
    padding: 2rem;
    width: 30%;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}

.logo {
    height: 2.75rem;
    width: 2.75rem;
}

.logo-text {
    font-size: 1.5rem;
    color: #025dad;
    font-weight: 600;
}

.welcome-text {
    font-size: 1.25rem;
    color: #025dad;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.full-width {
    width: 100%;
}

.hideIcon {
    margin-right: 1rem;
}

.submit-button {
    text-wrap: nowrap;
    font-size: 0.875rem;
}

/* Media Queries */

/* Mobile Devices */
@media (max-width: 480px) {
    .form-wrapper {
        width: 60%;
        padding: 1.5rem;
    }

    .logo-wrapper {
        gap: 0.5rem;
        margin-bottom: 0.75rem;
    }

    .form {
        gap: 1rem;
    }

    .logo {
        height: 2rem;
        width: 2rem;
    }

    .logo-text {
        font-size: 1.25rem;
    }

    .welcome-text {
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }

    .submit-button {
        font-size: 0.75rem;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .form-wrapper {
        width: 40%;
    }

    .logo-wrapper {
        gap: 0.75rem;
        margin-bottom: 1rem;
    }

    .form {
        gap: 1.5rem;
    }

    .logo {
        height: 2.5rem;
        width: 2.5rem;
    }

    .logo-text {
        font-size: 1.5rem;
    }

    .welcome-text {
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }

    .submit-button {
        font-size: 0.875rem;
    }
}

/* Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .form-wrapper {
        width: 40%;
    }

    .logo-wrapper {
        gap: 0.75rem;
        margin-bottom: 1rem;
    }

    .logo {
        height: 2.5rem;
        width: 2.5rem;
    }

    .logo-text {
        font-size: 1.5rem;
    }

    .welcome-text {
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }

    .submit-button {
        font-size: 0.875rem;
    }
}
