<div class="general-info-container">
    <div>
        <p class="general-info-title"><mat-icon>description</mat-icon> General Information</p>

        <form [formGroup]="generalInfoForm" (ngSubmit)="onSubmit()" class="general-info-form">
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput id="username" type="text" formControlName="username" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>ID</mat-label>
                    <input matInput id="id" type="text" formControlName="id" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput id="general-email" type="email" formControlName="email" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>SBU</mat-label>
                    <mat-select id="SBU" formControlName="SBU">
                        <mat-option value="fintech">Fintech</mat-option>
                        <mat-option value="healthtech">Healthtech</mat-option>
                        <mat-option value="usa">USA</mat-option>
                        <mat-option value="europe">Europe</mat-option>
                        <mat-option value="js">JS</mat-option>
                        <mat-option value="nop commerce">Nop Commerce</mat-option>
                    </mat-select>
                    <mat-error *ngIf="generalInfoForm.get('SBU')?.hasError('required')">
                        SBU is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <mat-label>Contact Number</mat-label>
                    <input
                        matInput
                        id="contactNumber"
                        type="text"
                        formControlName="contactNumber"
                    />
                    <mat-error *ngIf="generalInfoForm.get('contactNumber')?.hasError('required')">
                        Contact number is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Job Title</mat-label>
                    <input matInput id="jobTitle" type="text" formControlName="jobTitle" />
                    <mat-error *ngIf="generalInfoForm.get('jobTitle')?.hasError('required')">
                        Job title is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Meal</mat-label>
                    <mat-select id="meal" formControlName="meal">
                        <mat-option value="regular">Regular</mat-option>
                        <mat-option value="diet">Diet</mat-option>
                    </mat-select>
                    <mat-error *ngIf="generalInfoForm.get('meal')?.hasError('required')">
                        Meal is required
                    </mat-error>
                </mat-form-field>
                <div class="submit-container">
                    <button
                        mat-flat-button
                        type="submit"
                        [disabled]="loading"
                        class="submit-button"
                    >
                        <ng-container *ngIf="loading">
                            <app-spinner></app-spinner>
                        </ng-container>
                        <ng-container *ngIf="!loading">
                            <span>Save</span>
                        </ng-container>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
