<div class="container">
    <div class="form-wrapper">
        <div class="logo-wrapper">
            <img src="/assets/brand-logo.png" alt="logo" class="logo" />
            <div class="logo-text">Order Station</div>
        </div>
        <div class="welcome-text">Hi, Welcome Back</div>
        <div class="sub-text">Enter your credentials to continue</div>

        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    class="input"
                    id="email"
                    formControlName="email"
                    placeholder="example@gmail.com"
                />
                <mat-error
                    *ngIf="signinForm.get('email')!.invalid && signinForm.get('email')!.touched"
                >
                    <ng-container *ngIf="signinForm.get('email')!.errors?.['required']">
                        Email is required.
                    </ng-container>
                    <ng-container *ngIf="signinForm.get('email')!.errors?.['email']">
                        Invalid email format.
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    id="password"
                    type="password"
                    formControlName="password"
                    placeholder="••••••••"
                />
                <mat-error
                    *ngIf="
                        signinForm.get('password')!.invalid && signinForm.get('password')!.touched
                    "
                >
                    <ng-container *ngIf="signinForm.get('password')!.errors?.['required']">
                        Password is required.
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                <ng-container *ngIf="loading">
                    <app-spinner></app-spinner>
                </ng-container>
                <ng-container *ngIf="!loading">
                    <span>Sign In</span>
                </ng-container>
            </button>
        </form>
    </div>
</div>
