<div class="container">
    <div class="form-wrapper">
        <div class="logo-wrapper">
            <img src="/assets/brand-logo.png" alt="logo" class="logo" />
            <div class="logo-text">Order Station</div>
        </div>
        <div class="welcome-text">Hi, Welcome Back</div>
        <div class="sub-text">Enter your credentials to continue</div>

        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    class="input"
                    id="email"
                    formControlName="email"
                    placeholder="example@gmail.com"
                />

                @if (signinForm.get('email')!.invalid && signinForm.get('email')!.touched) {
                    <mat-error>
                        @if (signinForm.get('email')!.errors?.['required']) {
                            <ng-container> Email is required. </ng-container>
                        } @else if (signinForm.get('email')!.errors?.['email']) {
                            <ng-container> Invalid email format. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    id="password"
                    type="password"
                    formControlName="password"
                    placeholder="••••••••"
                />
                @if (signinForm.get('password')!.invalid && signinForm.get('password')!.touched) {
                    <mat-error>
                        @if (signinForm.get('password')!.errors?.['required']) {
                            <ng-container> Password is required. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                @if (loading) {
                    <app-spinner />
                } @else {
                    <span>Sign In</span>
                }
            </button>
        </form>
    </div>
</div>
