<div class="container">
    <div class="form-wrapper">
        <p class="form-title">
            <mat-icon>person_add</mat-icon>
            Add New User
        </p>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input matInput id="username" formControlName="username" placeholder="John Cena" />

                @if (signupForm.get('username')!.invalid && signupForm.get('username')!.touched) {
                    <mat-error>
                        @if (signupForm.get('username')!.errors?.['required']) {
                            <ng-container> Username is required. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Role</mat-label>
                <mat-select id="role" formControlName="role">
                    <mat-option value="employee">Employee</mat-option>
                    <mat-option value="staff">Staff</mat-option>
                </mat-select>

                @if (signupForm.get('role')!.invalid && signupForm.get('role')!.touched) {
                    <mat-error>
                        @if (signupForm.get('role')!.errors?.['required']) {
                            <ng-container> Role is required. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>ID</mat-label>
                <input matInput id="id" formControlName="id" placeholder="BS123" />

                @if (signupForm.get('id')!.invalid && signupForm.get('id')!.touched) {
                    <mat-error>
                        @if (signupForm.get('id')!.errors?.['required']) {
                            <ng-container> ID is required. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    id="email"
                    formControlName="email"
                    placeholder="example@gmail.com"
                />

                @if (signupForm.get('email')!.invalid && signupForm.get('email')!.touched) {
                    <mat-error>
                        @if (signupForm.get('email')!.errors?.['required']) {
                            <ng-container> Email is required. </ng-container>
                        } @else if (signupForm.get('email')!.errors?.['email']) {
                            <ng-container> Invalid email format. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    id="password"
                    type="password"
                    formControlName="password"
                    placeholder="••••••••"
                />
                @if (signupForm.get('password')!.invalid && signupForm.get('password')!.touched) {
                    <mat-error>
                        @if (signupForm.get('password')!.errors?.['required']) {
                            <ng-container> Password is required. </ng-container>
                        } @else if (signupForm.get('password')!.errors?.['minlength']) {
                            <ng-container
                                >Password must be at least 8 characters long.</ng-container
                            >
                        } @else if (signupForm.get('password')!.errors?.['maxlength']) {
                            <ng-container>Password cannot exceed 32 characters.</ng-container>
                        } @else if (signupForm.get('password')!.errors?.['pattern']) {
                            <ng-container
                                >Password must include A-Z, a-z, 0-9, and special
                                character.</ng-container
                            >
                        }
                    </mat-error>
                }
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                @if (loading) {
                    <app-spinner />
                } @else {
                    <span>Submit</span>
                }
            </button>
        </form>
    </div>
</div>
