<div class="container">
    <div class="title">
        <mat-icon>people</mat-icon>
        All Staffs
    </div>
    <div class="search-container">
        <mat-form-field class="search-field">
            <mat-label>Search...</mat-label>
            <input matInput class="input-field" (keyup)="applyFilter($event)" />
        </mat-form-field>

        <div class="view-controls">
            <div class="views-label">Views</div>
            <div class="view-buttons">
                <button
                    mat-icon-button
                    (click)="toggleView()"
                    class="view-button"
                    [ngClass]="!isListView ? 'active' : ''"
                >
                    <mat-icon>view_module</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="toggleView()"
                    class="view-button"
                    [ngClass]="isListView ? 'active' : ''"
                >
                    <mat-icon>view_list</mat-icon>
                </button>
            </div>
        </div>
    </div>

    @if (isListView) {
        <app-staffs-list
            [filter]="filter"
            [users]="staffs"
            (deleteUserEvent)="handleDeleteUser($event)"
        />
    } @else {
        <app-staffs-card
            [filter]="filter"
            [users]="staffs"
            (deleteUserEvent)="handleDeleteUser($event)"
        />
    }
</div>
