<div [ngClass]="role === 'admin' ? 'admin-container-div' : 'container-div'">
    <div [ngClass]="role === 'admin' ? 'content-div' : ''">
        <p class="reset-password-title"><mat-icon>security</mat-icon> Reset Password</p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="example@gmail.com"
                />
                <mat-error
                    *ngIf="
                        resetPasswordForm.get('email')!.invalid &&
                        resetPasswordForm.get('email')!.touched
                    "
                >
                    <ng-container *ngIf="resetPasswordForm.get('email')!.errors?.['required']">
                        Email is required.
                    </ng-container>
                    <ng-container *ngIf="resetPasswordForm.get('email')!.errors?.['email']">
                        Please enter a valid email address.
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Current Password</mat-label>
                <input
                    matInput
                    id="currentPassword"
                    type="password"
                    formControlName="currentPassword"
                    placeholder="••••••••"
                />
                <mat-error
                    *ngIf="
                        resetPasswordForm.get('currentPassword')!.invalid &&
                        resetPasswordForm.get('currentPassword')!.touched
                    "
                >
                    <ng-container
                        *ngIf="resetPasswordForm.get('currentPassword')!.errors?.['required']"
                    >
                        Current Password is required
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>New Password</mat-label>
                <input
                    matInput
                    id="password"
                    type="password"
                    formControlName="newPassword"
                    placeholder="••••••••"
                />
                <mat-error
                    *ngIf="
                        resetPasswordForm.get('newPassword')!.invalid &&
                        resetPasswordForm.get('newPassword')!.touched
                    "
                >
                    <ng-container
                        *ngIf="resetPasswordForm.get('newPassword')!.errors?.['required']"
                    >
                        New Password is required.
                    </ng-container>
                    <ng-container
                        *ngIf="resetPasswordForm.get('newPassword')!.errors?.['minlength']"
                    >
                        Password must be at least 8 characters long
                    </ng-container>
                    <ng-container
                        *ngIf="resetPasswordForm.get('newPassword')!.errors?.['maxlength']"
                    >
                        Password cannot be more than 32 characters long.
                    </ng-container>
                    <ng-container *ngIf="resetPasswordForm.get('newPassword')!.errors?.['pattern']">
                        Password must include at least one uppercase letter, one lowercase letter,
                        one number, and one special character (&#64;$!%*?&).
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                <ng-container *ngIf="loading; else saveButtonContent">
                    <app-spinner></app-spinner>
                </ng-container>
                <ng-template #saveButtonContent>
                    <span>Reset</span>
                </ng-template>
            </button>
        </form>
    </div>
</div>
