<div [ngClass]="role === 'admin' ? 'admin-container-div' : 'container-div'">
    <div [ngClass]="role === 'admin' ? 'content-div' : ''">
        <p class="reset-password-title">
            <mat-icon>security</mat-icon>
            Reset Password
        </p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="example@gmail.com"
                />
                @if (
                    resetPasswordForm.get('email')!.invalid &&
                    resetPasswordForm.get('email')!.touched
                ) {
                    <mat-error>
                        @if (resetPasswordForm.get('email')!.errors?.['required']) {
                            <ng-container>Email is required.</ng-container>
                        } @else if (resetPasswordForm.get('email')!.errors?.['email']) {
                            <ng-container> Please enter a valid email address. </ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Current Password</mat-label>
                <input
                    matInput
                    id="currentPassword"
                    type="password"
                    formControlName="currentPassword"
                    placeholder="••••••••"
                />
                @if (
                    resetPasswordForm.get('currentPassword')!.invalid &&
                    resetPasswordForm.get('currentPassword')!.touched
                ) {
                    <mat-error>
                        @if (resetPasswordForm.get('currentPassword')!.errors?.['required']) {
                            <ng-container>Current Password is required</ng-container>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>New Password</mat-label>
                <input
                    matInput
                    id="password"
                    type="password"
                    formControlName="newPassword"
                    placeholder="••••••••"
                />
                @if (
                    resetPasswordForm.get('newPassword')!.invalid &&
                    resetPasswordForm.get('newPassword')!.touched
                ) {
                    <mat-error>
                        @if (resetPasswordForm.get('newPassword')!.errors?.['required']) {
                            <ng-container> Password is required. </ng-container>
                        } @else if (resetPasswordForm.get('newPassword')!.errors?.['minlength']) {
                            <ng-container
                                >Password must be at least 8 characters long.</ng-container
                            >
                        } @else if (resetPasswordForm.get('newPassword')!.errors?.['maxlength']) {
                            <ng-container>Password cannot exceed 32 characters.</ng-container>
                        } @else if (resetPasswordForm.get('newPassword')!.errors?.['pattern']) {
                            <ng-container
                                >Password must include A-Z, a-z, 0-9, and special
                                character.</ng-container
                            >
                        }
                    </mat-error>
                }
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="loading" class="submit-button">
                @if (loading) {
                    <app-spinner />
                } @else {
                    <span>Reset</span>
                }
            </button>
        </form>
    </div>
</div>
