<div class="container">
    <div class="header">
        <mat-form-field class="filter">
            <mat-icon matIconPrefix>filter_alt</mat-icon>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input />
        </mat-form-field>

        <div class="title">
            <mat-icon>restaurant</mat-icon>
            Meal Report
        </div>

        <mat-form-field class="date-picker">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date" />
                <input
                    matEndDate
                    formControlName="end"
                    placeholder="End date"
                    (dateChange)="fetchMealSummary()"
                />
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            @if (range.controls.start.hasError('matStartDateInvalid')) {
                <mat-error>Invalid start date</mat-error>
            }
            @if (range.controls.end.hasError('matEndDateInvalid')) {
                <mat-error>Invalid end date</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let summary">
                    {{ summary.date }}
                </td>
            </ng-container>

            <!-- Mirpur Diet Count Column -->
            <ng-container matColumnDef="mirpurDietCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mirpur Diet</th>
                <td mat-cell *matCellDef="let summary">
                    {{ summary.mirpurDietCount }}
                </td>
            </ng-container>

            <!-- Mirpur Regular Count Column -->
            <ng-container matColumnDef="mirpurRegularCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mirpur Regular</th>
                <td mat-cell *matCellDef="let summary">
                    {{ summary.mirpurRegularCount }}
                </td>
            </ng-container>

            <!-- Mohakhali Diet Count Column -->
            <ng-container matColumnDef="mohakhaliDietCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mohakhali Diet</th>
                <td mat-cell *matCellDef="let summary">
                    {{ summary.mohakhaliDietCount }}
                </td>
            </ng-container>

            <!-- Mohakhali Regular Count Column -->
            <ng-container matColumnDef="mohakhaliRegularCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mohakhali Regular</th>
                <td mat-cell *matCellDef="let summary">
                    {{ summary.mohakhaliRegularCount }}
                </td>
            </ng-container>

            <ng-container matColumnDef="totalDiet">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Diet</th>
                <td mat-cell *matCellDef="let summary">
                    {{ summary.mirpurDietCount + summary.mohakhaliDietCount }}
                </td>
            </ng-container>

            <ng-container matColumnDef="totalRegular">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Regular</th>
                <td mat-cell *matCellDef="let summary">
                    {{ summary.mirpurRegularCount + summary.mohakhaliRegularCount }}
                </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                <td mat-cell *matCellDef="let summary">
                    {{
                        summary.mirpurRegularCount +
                            summary.mohakhaliRegularCount +
                            summary.mirpurDietCount +
                            summary.mohakhaliDietCount
                    }}
                </td>
            </ng-container>

            <!-- No Data Row -->
            <tr class="no-data-row" *matNoDataRow>
                <td [attr.colspan]="displayedColumns.length">
                    @if (loading) {
                        <div class="spinner">
                            <app-spinner />
                        </div>
                    } @else {
                        <div class="no-data-content">
                            No data matching for the filter "{{ input.value }}"
                        </div>
                    }
                </td>
            </tr>

            <!-- Table Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!-- Paginator -->
        <mat-paginator
            [pageSizeOptions]="[7, 14, 21]"
            aria-label="Select page of orders"
        ></mat-paginator>
    </div>
</div>
