<div class="flex justify-center items-center h-full">
    <div class="max-w-5xl w-full bg-white shadow-lg rounded-lg overflow-hidden p-6">
        <h2 class="text-xl font-bold mb-4 text-center">Meal Summary</h2>
        <ng-container *ngIf="mealSummary$ | async as summary">
            <div class="grid grid-cols-2 gap-6">
                <!-- Today's Counts -->
                <div class="bg-gray-100 p-4 rounded shadow">
                    <div class="text-lg font-semibold mb-2">Today</div>
                    <div class="text-sm font-semibold mb-2">Mirpur Diet Count:</div>
                    <div class="text-green-600">{{ summary.todayMirpurDietCount }}</div>
                    <div class="text-sm font-semibold mb-2">Mirpur Regular Count:</div>
                    <div class="text-green-600">{{ summary.todayMirpurRegularCount }}</div>
                    <div class="text-sm font-semibold mb-2">Mohakhali Diet Count:</div>
                    <div class="text-green-600">{{ summary.todayMohakhaliDietCount }}</div>
                    <div class="text-sm font-semibold mb-2">Mohakhali Regular Count:</div>
                    <div class="text-green-600">{{ summary.todayMohakhaliRegularCount }}</div>
                </div>
                <!-- Yesterday's Counts -->
                <div class="bg-gray-100 p-4 rounded shadow">
                    <div class="text-lg font-semibold mb-2">Yesterday</div>
                    <div class="text-sm font-semibold mb-2">Mirpur Diet Count:</div>
                    <div class="text-green-600">{{ summary.yesterdayMirpurDietCount }}</div>
                    <div class="text-sm font-semibold mb-2">Mirpur Regular Count:</div>
                    <div class="text-green-600">{{ summary.yesterdayMirpurRegularCount }}</div>
                    <div class="text-sm font-semibold mb-2">Mohakhali Diet Count:</div>
                    <div class="text-green-600">{{ summary.yesterdayMohakhaliDietCount }}</div>
                    <div class="text-sm font-semibold mb-2">Mohakhali Regular Count:</div>
                    <div class="text-green-600">{{ summary.yesterdayMohakhaliRegularCount }}</div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
