@if (loading) {
    <div class="spinner">
        <app-spinner></app-spinner>
    </div>
} @else {
    <div class="user-grid">
        @if (filteredUsers.length > 0) {
            @for (user of filteredUsers; track $index) {
                <div class="user-card">
                    <div class="user-card-header">
                        <img
                            [src]="apiUrl + '/' + user.profilePicture"
                            alt="Avatar"
                            class="user-avatar"
                        />
                        <div class="user-info">
                            <span class="user-username">{{ user.username }}</span>
                            <span class="user-email">{{ user.email }}</span>
                        </div>
                    </div>
                    <div class="user-details">
                        <div class="user-detail">
                            <mat-icon>badge</mat-icon>
                            <span>{{ user.id ? user.id : 'No ID available' }}</span>
                        </div>
                        <div class="user-detail">
                            <mat-icon>phone</mat-icon>
                            <span>{{
                                user.contactNumber
                                    ? user.contactNumber
                                    : 'No contact number available'
                            }}</span>
                        </div>
                        <div class="user-detail">
                            <mat-icon>business</mat-icon>
                            <span>{{
                                user.SBU ? (user.SBU | titlecase) : 'No SBU available'
                            }}</span>
                        </div>
                        <div class="user-detail">
                            <mat-icon>work</mat-icon>
                            <span>{{
                                user.jobTitle
                                    ? (user.jobTitle | titlecase)
                                    : 'No job title available'
                            }}</span>
                        </div>
                    </div>
                </div>
            }
        } @else {
            <div class="no-data">No data matching for the filter "{{ filter }}"</div>
        }
    </div>
}
