.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 14rem;
    background-color: #024988;
    border-radius: 0%;
}

.sidenav-menu {
    background-color: #01437c;
    color: rgb(240, 238, 238);
    padding-left: 1.5rem;
    font-size: 1.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(240, 238, 238);
    font-weight: 300;
    font-size: 0.875rem;
    padding: 0.5rem;
}

a {
    border-radius: 0% !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    transition:
        background-color 0.3s,
        box-shadow 0.3s;
}

.logo {
    height: 2.25rem;
    width: 2.25rem;
    margin-bottom: 0.25rem;
}

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(240, 238, 238);
    position: absolute;
    bottom: 10%;
    font-size: 1rem;
    font-weight: 500;
    transform: translateX(50%);
}

.toolbar-logo {
    height: 2.25rem;
    width: 2.25rem;
}

.toolbar-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #025dad;
}

.sidenav-content-toolbar {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.sidenav-content {
    background-color: #f5f7f8;
}

/* Media Queries */

/* Mobile Devices */
@media (max-width: 480px) {
    .sidenav {
        width: 10rem;
    }

    .sidenav-menu {
        padding: 1rem 0.75rem;
        font-size: 1rem;
    }

    .mdc-list-item {
        padding-left: 0.75rem;
    }

    .nav-item {
        gap: 2px;
        font-size: 0.75rem;
        padding: 0.5rem 0;
    }

    mat-icon {
        font-size: 1.25rem;
    }

    .logo {
        height: 1.5rem;
        width: 1.5rem;
    }

    .tag {
        font-size: 0.75rem;
    }

    .toolbar-logo {
        height: 1.75rem;
        width: 1.75rem;
    }

    .toolbar-title {
        font-size: 1rem;
    }

    .sidenav-content-toolbar {
        gap: 0.25rem;
        padding: 0 1rem;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .sidenav {
        width: 11rem;
    }

    .sidenav-menu {
        padding: 1rem 0.75rem;
        font-size: 1.25rem;
    }

    .mdc-list-item {
        padding-left: 0.875rem;
    }

    .nav-item {
        gap: 2px;
        font-size: 0.875rem;
        padding: 0.5rem 0;
    }

    mat-icon {
        font-size: 1.25rem;
    }

    .logo {
        height: 1.75rem;
        width: 1.75rem;
    }

    .tag {
        font-size: 0.875rem;
    }

    .toolbar-logo {
        height: 2rem;
        width: 2rem;
    }

    .toolbar-title {
        font-size: 1.25rem;
    }

    .sidenav-content-toolbar {
        gap: 0.5rem;
        padding: 0 1rem;
    }
}

/* Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .sidenav {
        width: 11rem;
    }

    .sidenav-menu {
        padding: 1rem 0.75rem;
        font-size: 1.25rem;
    }

    .mdc-list-item {
        padding-left: 0.875rem;
    }

    .nav-item {
        gap: 2px;
        font-size: 0.875rem;
        padding: 0.5rem 0;
    }

    mat-icon {
        font-size: 1.25rem;
    }

    .logo {
        height: 1.75rem;
        width: 1.75rem;
    }

    .tag {
        font-size: 0.875rem;
    }

    .toolbar-logo {
        height: 2rem;
        width: 2rem;
    }

    .toolbar-title {
        font-size: 1.25rem;
    }

    .sidenav-content-toolbar {
        gap: 0.5rem;
        padding: 0 1.25rem;
    }
}
