<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar class="sidenav-menu">Menu</mat-toolbar>
        <mat-nav-list>
            <ng-container *ngIf="role === 'admin'">
                <a mat-list-item routerLink="dashboard">
                    <div class="nav-item">
                        <mat-icon>dashboard</mat-icon>
                        Dashboard
                    </div>
                </a>
                <a mat-list-item routerLink="signup">
                    <div class="nav-item">
                        <mat-icon>person_add</mat-icon>
                        Add User
                    </div>
                </a>
                <a mat-list-item routerLink="all-employees">
                    <div class="nav-item">
                        <mat-icon>work</mat-icon>
                        Employees
                    </div>
                </a>
                <a mat-list-item routerLink="all-staffs">
                    <div class="nav-item">
                        <mat-icon>supervised_user_circle</mat-icon>
                        Staffs
                    </div>
                </a>
                <a mat-list-item routerLink="reset-password">
                    <div class="nav-item">
                        <mat-icon>lock_open</mat-icon>
                        Reset Password
                    </div>
                </a>
            </ng-container>
            <ng-container *ngIf="role !== 'admin'">
                <a mat-list-item routerLink="profile">
                    <div class="nav-item">
                        <mat-icon>account_circle</mat-icon>
                        Profile
                    </div>
                </a>
                <a mat-list-item routerLink="daily-check-in">
                    <div class="nav-item">
                        <mat-icon>event_note</mat-icon>
                        Daily Check In
                    </div>
                </a>
            </ng-container>
            <ng-container *ngIf="role === 'employee'">
                <a mat-list-item routerLink="beverage-order">
                    <div class="nav-item">
                        <mat-icon>local_cafe</mat-icon>
                        Beverage Order
                    </div>
                </a>
            </ng-container>
            <a mat-list-item routerLink="current-orders">
                <div class="nav-item">
                    <mat-icon>assignment</mat-icon>
                    Current Orders
                </div>
            </a>
            <a mat-list-item routerLink="order-history">
                <div class="nav-item">
                    <mat-icon>history</mat-icon>
                    Order History
                </div>
            </a>
            <a
                mat-list-item
                (click)="confirmSignoutPopUp()"
                (keydown)="confirmSignoutPopUp()"
                tabindex="0"
            >
                <div class="nav-item">
                    <mat-icon>exit_to_app</mat-icon>
                    Sign out
                </div>
            </a>
        </mat-nav-list>
        <div class="tag">
            <img src="/assets/brand-logo.png" alt="logo" class="logo" />
            <span>Order Station</span>
            <span>v1.3.0</span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar color="primary" class="sidenav-content-toolbar">
            @if (isHandset$ | async) {
                <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                >
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            }
            <img src="/assets/brand-logo.png" alt="logo" class="toolbar-logo" />
            <div class="toolbar-title">Order Station</div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
