<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let order">{{ order.username || '-' }}</td>
        </ng-container>

        <!-- ID Column (Conditionally) -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let order">{{ order.employeeID || '-' }}</td>
        </ng-container>

        <!-- Tea Quantity Column -->
        <ng-container matColumnDef="teaQuantity">
            <th mat-header-cell *matHeaderCellDef>Tea Quantity</th>
            <td mat-cell *matCellDef="let order">{{ order.teaQuantity || '-' }}</td>
        </ng-container>

        <!-- Tea Amount Column -->
        <ng-container matColumnDef="teaAmount">
            <th mat-header-cell *matHeaderCellDef>Tea Amount</th>
            <td mat-cell *matCellDef="let order">{{ order.teaAmount || '-' }}</td>
        </ng-container>

        <!-- Coffee Quantity Column -->
        <ng-container matColumnDef="coffeeQuantity">
            <th mat-header-cell *matHeaderCellDef>Coffee Quantity</th>
            <td mat-cell *matCellDef="let order">{{ order.coffeeQuantity || '-' }}</td>
        </ng-container>

        <!-- Coffee Amount Column -->
        <ng-container matColumnDef="coffeeAmount">
            <th mat-header-cell *matHeaderCellDef>Coffee Amount</th>
            <td mat-cell *matCellDef="let order">{{ order.coffeeAmount || '-' }}</td>
        </ng-container>

        <!-- Notes Column -->
        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef>Notes</th>
            <td mat-cell *matCellDef="let order">{{ order.notes || '-' }}</td>
        </ng-container>

        <!-- Room Number Column -->
        <ng-container matColumnDef="roomNumber">
            <th mat-header-cell *matHeaderCellDef>Room Number</th>
            <td mat-cell *matCellDef="let order">{{ order.roomNumber || '-' }}</td>
        </ng-container>

        <!-- Created At Column -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Created At</th>
            <td mat-cell *matCellDef="let order">{{ order.createdAt | timesAgo }}</td>
        </ng-container>

        <!-- Order Status Column -->
        <ng-container matColumnDef="orderStatus">
            <th mat-header-cell *matHeaderCellDef>Order Status</th>
            <td mat-cell *matCellDef="let order">
                {{ order.orderStatus | titlecase }}
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let order">
                <button
                    mat-flat-button
                    color="warn"
                    (click)="cancelOrder(order._id)"
                    [disabled]="order.orderStatus === 'in progress' && role === 'employee'"
                >
                    <mat-icon>cancel</mat-icon>
                    <span class="action-text">Cancel</span>
                </button>
                @if (role === 'admin' || role === 'staff') {
                    <button
                        mat-flat-button
                        color="primary"
                        (click)="
                            order.orderStatus === 'in progress'
                                ? completeOrder(order._id)
                                : approveOrder(order._id)
                        "
                    >
                        <mat-icon>{{
                            order.orderStatus === 'in progress' ? 'done_all' : 'check_circle'
                        }}</mat-icon>
                        <span class="action-text">{{
                            order.orderStatus === 'in progress' ? 'Delivered' : 'Approve'
                        }}</span>
                    </button>
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[5, 10, 25]"
        aria-label="Select page of orders"
    ></mat-paginator>
</div>
